<div class="d-flex justify-content-center align-items-center bg-warning" style="min-height: 100vh;">
    <div>
    <div class="bg-danger text-white p-4" style="font-weight: bold;font-size: 24px;">
        <div class="text-center">Error 404 - Not Found!</div>
        I understand your thirst, but all you'll find is a desert!
    </div>
    <div>
            <a class="btn btn-success text-light float-sm-start mt-1" style="font-weight: bold;" asp-action="Index" asp-controller="Movies">Back Home!</a>
    </div>
    </div>
</div>