<div class="row">
    <div class="col-md-6 offset-3 alert alert-success text-center">
        <h2>Account was created successfully</h2>
        <hr />
        <a asp-controller="Account" asp-action="Login" class="btn btn-primary">Go to Login ➡️</a>
    </div>
</div>